# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SourceCode\Design-Patterns-for-High-Quality-Automated-Tests-Java-Edition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
